---
layout: page
title: iWanna
permalink: /
---
<section id="JweixinTip">
  <img class="wxtip-icon" src="img/weixin-tip.png" alt="Img">
  <p class="wxtip-txt">请点击右上角<br/>选择在浏览器中打开</p>
</section>

<!--&lt;!&ndash; Slider Start &ndash;&gt;-->
<!--<section id="slider">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-2"></div>-->
      <!--<div class="col-md-8 text-center">-->
        <!--<div class="block">-->
          <!--<h1 class="animated fadeInUp text-center ">Thrive From Inner Power</h1>-->
          <!--<p class="animated fadeInUp text-center ">Unity in Diversity</p>-->
          <!--<p class="animated fadeInUp text-center ">Be seen and shine</p>-->
          <!--<p class="animated fadeInUp text-center ">You are unique but not alone</p>-->

        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-2"></div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--&lt;!&ndash; Wrapper Start &ndash;&gt;-->
<!--<section id="intro">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-7 col-sm-12">-->
        <!--<div class="block">-->
          <!--<div class="section-title">-->
            <!--<h2>Who We Are</h2>-->
            <!--<p>iWanna was founded by professionals with counseling degrees from University of Pennsylvania and other top universities in the United States. iWanna provides informative activities through its community in order to form a comprehensive and systematic network catering primarily to overseas individuals.</p>-->
          <!--</div>-->
          <!--</div>-->
      <!--</div>&lt;!&ndash; .col-md-7 close &ndash;&gt;-->
      <!--<div class="col-md-5 col-sm-12">-->
        <!--<div class="block">-->
          <!--<img src="img/wrapper-img.png" alt="Img">-->
        <!--</div>-->
      <!--</div>&lt;!&ndash; .col-md-5 close &ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!--<section id="feature">-->
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-6 col-md-offset-6">-->
      <!--<h2>Our Values</h2>-->
      <!--<h3>Diversity</h3>-->
      <!--<h3>Empathy</h3>-->
      <!--<h3>Openness</h3>-->
      <!--<h3>Connection</h3>-->
      <!--<h4></h4>-->
      <!--<p>We firmly believe that acceptance of differences is crucial to the positive development of any individual or community.</p>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</section>-->

<!--&lt;!&ndash; Call to action Start &ndash;&gt;-->
<!--<section id="call-to-action">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<div class="block">-->
          <!--<h2>Our Mission</h2>-->
          <!--<h2></h2>-->
          <!--<p>To enhance individual’s self-efficacy and quality of life in diverse cultures</p>-->
          <!--<a class="btn btn-default btn-call-to-action" href="/team">Get to know our team</a>-->
          <!--<h2></h2>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--&lt;!&ndash; Content Start &ndash;&gt;-->
<!--<section id="testimonial">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="section-title text-center">-->
        <!--<h2>Achievements</h2>-->
        <!--<p>1 of the first online platforms for overseas individuals focused on wellness and mental health</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--{% if site.data.funfacts.size > 0 %}-->
        <!--<div class="block">-->
          <!--{% for ff in site.data.funfacts %}-->
          <!--<ul class="counter-box clearfix">-->
            <!--<li>-->
              <!--<div class="block">-->
                <!--<i class="{{ ff.icon }}"></i>-->
                <!--<h4 class="counter">{{ ff.counter }}</h4>-->
                <!--<span>{{ ff.text }}</span>-->
              <!--</div>-->
            <!--</li>-->
            <!--{% endfor %}-->
          <!--</ul>-->
        <!--</div>-->
        <!--{% endif %}-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
