<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--<div class="footer-manu">-->
          <!--<ul>-->
            <!--<li><a href="#">Home</a></li>-->
            <!--<li><a href="#">Ser</a></li>-->
            <!--<li><a href="{{ site.baseurl }}/contact">Contact us</a></li>-->
            <!--<li><a href="{{ site.baseurl }}/blog">Blog</a></li>-->
            <!--<li><a href="#">Terms</a></li>-->
          <!--</ul>-->
        <!--</div>-->
        <p style="font-size: 10px;color:#999999;line-height: 15px;">Suicide/Crisis Disclaimer<br>
          iWanna Coaching Services does not offer crisis counseling or emergency services. If you feel you are in crisis, please call the National Suicide Prevention Lifeline. It is a free, 24-hour hotline, at 1.800.273.TALK (8255). Your call will be connected to the crisis center nearest to you. If you are in an emergency, call 911 or go to your nearest emergency room.
        </p>
        <p>Copyright @ 2019. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
